/*----------for mobile---------*/
@media screen and (max-width: 767px){
    /*||--------HEADER----------*/
    .header-line .section__content {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
    }
    /*||---------------HERO---------*/
    .hero .section__content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 47px 0 70px 0;
    }
    .hero__desc {
        align-items: center;
        gap: 24px;
    }
    .hero__heading{
        font-size: 34px;
    }
     /*||---------------DISCOVER---------*/
     .discover__desc {
        flex-direction: column;
     }
     .discover__desc__img {
        width: 344px;
        height: 235px;
     }
}
/*---------for tablets-------------*/
@media screen and (min-width:768px) and (max-width:1023px){}